body {
    font-family: Arial, sans-serif;
    background-color: #cee7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgb(204, 197, 197);
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #00008B; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

h2 {
    color: #00008B;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0b1814; 
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(26, 34, 31); 
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #0b1814;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.btn-sair {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background-color: #dc3545; 
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.btn-sair:hover {
    background-color: #c82333;
}

.erro {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: left;
}

.erro::before {
    content: "⚠️ ";
    margin-right: 5px;
}

.sucesso {
    color: green;
    margin-bottom: 10px;
}
